@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao site do MedCare</h1>
    <p>Essas Sao as funcionalidades incluidas neste projeto:</p>
    <ul>
        <li>1. CRUD completo de 7 entidades ao todo, feito no banco de dados mysql</li>
        <li>2. foi criado tambem tagHelpers, para ajuda de manutenção do código </li>
        <li>3. foram feitos 2 dos 3 tipos de relacionamentos pedidos, 1:1 1:N</li>
        <li>4. foi feito a funcionalidade de pesquisa no Doutor, para a facilitação de busca de determinado doutor pelo nome</li>
        <li>5. existe uma mensagem de retorno para o usuario quando o registro, edição e deleção de uma entidade ocorre corretamenta, foi-se utilizado uma tag helper para tal</li>
    </ul>
</div>
